<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="url-direct">
                    <match url="(\.css)|(\.svg)|(\.js)|(\.ico)" negate="true" />
                    <action type="Rewrite" url="route.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
